
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities"; // add css utilities
@import "reset";

body {
  margin: 0;
  font-family: "Signika",Helvetica,Arial,sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
.mat-form-field-flex {
  background-color: #efefef;
}

.input.mat-input-element { 
  padding-left: 10px;
}

.mat-toolbar {
  background-color: #efefef;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

a {
  color: #0366d6;
}

table {
  width: 100%;
  th{
    width: 25px !important;
  }
  thead {
    background: #1670c4 !important;
    width: 25px !important;
  }
  .mat-header-cell {
    color: white;
    font-size: 1rem;
  }
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

mat-form-field {
  width: 100%;
}
